attrs==21.4.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==41.0.0
fetchcode==0.1.0
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
packageurl-python==0.10.4
pycparser==2.21
python-dateutil==2.8.2
python-dotenv==0.21.0
requests==2.28.1
six==1.16.0
urllib3==1.26.13
