# Example environment variable file for Omega Analysis Toolkit

# Obtain a token from libraries.io. This allows us to find the previous version of a package using their API.
# LIBRARIES_IO_API_KEY=ABCDEFG

# Obtain a token from Snyk (commerical license may be required); otherwise, Snyk Code will not be used.
# SNYK_TOKEN=ABCDEFG