{% extends "./base.html" %}

{% block body %}
    {% block main %}
<style>

</style>

<div class="row" style="margin-top: 5px">
    <div class="col-12">
        <label for="cases_query" class="visually-hidden">Search Query</label>
        <form action="/cases/" method="get">
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" name="q" class="form-control" id="cases_query" placeholder="Search Query..." spellcheck="false" autocomplete="off" value="{{ query }}"/>
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Queries</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><h6 class="dropdown-header">Shared Queries</h6></li>
                    <li><a class="dropdown-item" href="/cases?q=status:active">Active Cases</a></li>
                    <li><a class="dropdown-item" href="/cases?q=assigned_to:@me">Assigned to Me</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">My Queries</h6></li>
                    <li><a class="dropdown-item" href="/cases?q=assigned_to:@me">Assigned to Me</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Save Current Query As...</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<div class="row" style="margin-top: 8px">
    <div class="col-lg-12">
        <h4>Active Cases</h4>
        <table id="case_list" class="table table-sm table-hover" style="overflow-y:auto">
            <thead>
                <tr>
                    <th scope="col">Case ID</th>
                    <th scope="col" class="text-nowrap">Title</th>
                    <th scope="col" class="text-nowrap">Assigned To</th>
                    <th scope="col" class="text-nowrap">Status</th>
                </tr>
            </thead>
            <tbody style="word-break: break-word;white-space:normal;word-wrap:break-word">
                {% for case in cases %}
                    <tr style="cursor:pointer">
                        <td>{{ case.pk }}</td>
                        <td>{{ case.title }}</td>
                        <td>{{ case.assigned_to }}</td>
                        <td>{{ case.get_status_display }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center"><i>No cases found.</i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    {% include "triage/case_part_edit.html" %}
    {% endblock main %}
{% endblock body %}