{% extends "./base.html" %}

{% block body %}
    {% block main %}
<style>
</style>

{% if status == "ok" %}
    <div class="alert alert-success" role="alert">
        Upload successful!
    </div>
{% endif %}

<h4>Upload SARIF</h4>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="row g-3" action="/findings/upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
                <label for="uploadSARIF" class="form-label">SARIF Files</label>
                <input type="file" multiple="true" class="form-control" id="uploadSARIF" name="sarif_file[]" accept="application/sarif+json, .sarif, .json" required="true">
            </div>
            <div class="col-md-4">
                <label for="packageURL" class="form-label">Package URL</label>
                <input type="text" class="form-control" id="packageURL" required="true" name="package_url">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
    {% endblock main %}
{% endblock body %}