{% extends "./base.html" %}

{% block body %}
    {% block main %}
<style>
      .jstree-proton { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
      .jstree-proton .jstree-node { margin-left: 9px; color: #666; font-size: 0.80rem;}
      .jstree-proton .jstree-leaf { font-weight: bold; color: #002}
</style>
<div class="row" style="margin-top: 5px">
    <div class="col-12">
        <label for="finding_query" class="visually-hidden">Search Query</label>
        <form action="/findings" method="get">
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" name="q" class="form-control" id="finding_query" placeholder="Search Query..." spellcheck="false" autocomplete="off" value="{{ query }}"/>
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Queries</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><h6 class="dropdown-header">Shared Queries</h6></li>
                    <li><a class="dropdown-item" href="/findings?q=status:Untriaged+tag:backdoor">Untriaged Backdoors</a></li>
                    <li><a class="dropdown-item" href="#">Assigned to Me</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">My Queries</h6></li>
                    <li><a class="dropdown-item" href="#">Assigned to Me</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Save Current Query As...</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>





<div class="row" style="margin-top: 8px">
    <div class="col-lg-11">
        <table id="finding_list" class="table table-sm table-hover" style="overflow-y:auto; max-height: 500px">
            <thead>
                <tr>
                    <th scope="col">Package</th>
                    <th scope="col" class="text-nowrap">Issue</th>
                    <th scope="col" class="text-nowrap">Filename</th>
                </tr>
            </thead>
            <tbody style="word-break: break-word;white-space:normal;word-wrap:break-word">
                {% for finding in findings %}
                    <tr data-finding-uuid="{{ finding.uuid }}" data-finding-title="{{ finding.title }}" data-file-path="{{ finding.file_path}}" data-file-location="{{ finding.file_line }}" style="cursor:pointer">
                        <td>{{ finding.scan.project_version }}</td>
                        <td>{{ finding.title }}</td>
                        <td>{{ finding.get_filename_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-lg-1">
        <button class="btn btn-outline-secondary dropdown-toggle float-end" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Auto-Triage Rules</a></li>
            <li><a class="dropdown-item" href="#">Compare Versions</a></li>
            <li><a class="dropdown-item" href="#">Export to SARIF</a></li>
            <li><a class="dropdown-item" href="#">Similar Findings</a></li>
            <li><a class="dropdown-item" href="#">Source Repository</a></li>
            <li><a class="dropdown-item" href="#">Watch</a></li>
            <li><a id="action_new_tooling_bug" class="dropdown-item" href="#">New Tooling Bug</a></li>
            <li><a class="dropdown-item" href="#">Discussion</a></li>
            <li><a class="dropdown-item" href="/findings/upload">Upload Findings</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <div class="card" style="max-height: 500px">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Analysis Results (Raw)
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div id="data_blob" style="margin-top: 5px;overflow:auto"></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Analyzed Files
                        </button>
                    </h4>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div id="data" style="margin-top: 5px;overflow:auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div id="editor"></div>
        </div>
    </div>
    <div class="col-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item pb-4 pt-4">
                <div class="float-end"><a href="#"><i class="fas fa-cog"></i></a></div>
                <p class="text-muted fw-bold">Assignee</p>
                {% if finding.assigned_to %}
                    <a href="#">{{ finding.assigned_to }}</a>
                {% else %}
                    No one&#8212;<a href="#">assign yourself</a>
                {% endif %}
            </li>
            <li class="list-group-item">
                <div class="float-end"><a href="#"><i class="fas fa-cog"></i></a></div>
                <p class="text-muted fw-bold">Severity</p>
                <span class="badge rounded-pill bg-primary">{{ finding.get_severity_display }}</span>
            </li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
        <div class="card">
            <div class="card-header">
                Triage Updates
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <h6>Severity</h6>
                    <select class="form-select form-select-sm" aria-label="Select Severity">
                        <option selected>Critical</option>
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                        <option>Unassigned</option>
                    </select>
                </div>
                
                <div class="mb-4">
                    <h6>True/False Positive</h6>
                    <select class="form-select form-select-sm" aria-label="Select TP/FP">
                        <option selected>True Positive</option>
                        <option>False Positive</option>
                        <option>Unassigned</option>
                    </select>
                </div>

                <div class="mb-4">
                    <h6>Notes</h6>
                    <textarea class="form-control w-100 h-100"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock main %}
{% endblock body %}

{% block javascript %}
    /* Handle clicks of the "New Tool Finding" button */
    $('#action_new_tooling_bug').on('click', (e) => {
        let finding_uuid = $('#finding_list').data('finding_uuid');
        if (finding_uuid !== undefined) {
            document.location.href = `/tool_defect/new?finding_uuid=${finding_uuid}`;
        }
    });
{% endblock %}