{% extends "./base.html" %}
{% load static %}
{% block body %}
    {% block main %}
    
<div class="row" style="margin-top: 30px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row jumbotron" style="padding-top: 36px; padding-bottom: 36px">
        <div class="container">
          <h1 class="display-3">Omega</h1>
          <p>
            <strong>Omega</strong> is a security analysis triage and management suite created and
            maintained by the Open Source Security Foundation.
          </p>
          <div class="alert alert-warning" role="alert">
            Access to Omega is restricted to authorized users of the Open Source Security Foundation.
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <div class="float-right w-100"></div>
              <h5 class="card-title">Latest Findings</h5>
              <p class="card-text">Access the latest findings from the last 24 hours.</p>
              <a class="btn btn-primary" href="/findings?q=severity:critical,high&sort_by=updated_dt&order_direction=desc">View Findings</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{ finding_last_updated|timesince }} ago</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Active Cases</h5>
              <p class="card-text">View all reported but unfixed vulnerabilities.</p>
              <a class="btn btn-primary" href="/cases?q=state:new,active">View Active Cases</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{ case_last_updated|timesince }} ago</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Vulnerability Search</h5>
              <p class="card-text">
                Search for a vulnerability by its CVE or description. Service provided by third-parties.
                <div class="input-group">
                  <input id="vulnerability_query" type="text" class="form-control" placeholder="Search..." name="query"/>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary vulnerability_search rounded-0 pt-0 pb-0" style="background-color:#000" data-target="nvd.nist.gov"><img src="{% static "triage/images/icon-nvd.nist.gov.png" %}" height="22"/></button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item vulnerability_search" href="#" data-target="nvd.nist.gov">NVD/CVE</a></li>
                      <li><a class="dropdown-item vulnerability_search" href="#" data-target="cve.circl.lu">CIRCL CVE Search</a></li>
                      <li><a class="dropdown-item vulnerability_search" href="#" data-target="exploit-db.com">Exploit Database</a></li>
                    </ul>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div> <!-- /row -->
      
      <!-- 2nd row -->
      <div class="row row-cols-1 row-cols-md-3 mt-2 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <div class="float-right w-100"></div>
              <h5 class="card-title">Code Search</h5>
              <p class="card-text">
                Code search is provided by third-parties.
                <div class="input-group">
                  <input id="code_search_query" type="text" class="form-control" placeholder="Search..." name="query"/>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary code_search rounded-0" data-target="github"><i class="fab fa-github"></i></button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a class="dropdown-item code_search" href="#" data-target="github"><i class="fab fa-github me-2"></i>GitHub</a></li>
                      <li><a class="dropdown-item code_search" href="#" data-target="sourcegraph"><img src="{% static "triage/images/icon-sourcegraph.com.svg" %}" height="16"/> SourceGraph</a></li>
                      <li><a class="dropdown-item code_search" href="#" data-target="searchcode"><img src="{% static "triage/images/icon-searchcode.com.png" %}" height="16"/> SearchCode</a></li>
                      <li><a class="dropdown-item code_search" href="#" data-target="debian"><i class="fab fa-linux me-2"></i>Debian</a></li>
                    </ul>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">My Work</h5>
              <p class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="/cases?q=assigned_to:{{ user.username }}">My Cases</a>
                    <span class="badge rounded-pill bg-primary float-end">{{ my_work.num_cases|floatformat:"g" }}</span>
                  </li>
                  <li class="list-group-item">
                    <a href="/findings?q=assigned_to:{{ user.username }}">My Findings</a>
                    <span class="badge rounded-pill bg-primary float-end">{{ my_work.num_findings|floatformat:"g" }}</span>
                  </li>
                  <li class="list-group-item">
                    <a href="/tool_defect?q=assigned_to:{{ user.username }}">My Tool Defects</a>
                    <span class="badge rounded-pill bg-primary float-end">{{ my_work.num_tool_defects|floatformat:"g" }}</span>
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Metrics</h5>
              <p class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="/findings?q=">Total Findings</a>
                    <span class="badge rounded-pill bg-primary float-end">{{ metrics.num_findings|floatformat:"g" }}</span>
                  </li>
                  <li class="list-group-item">
                    <a href="/findings?q=state:new,active,not_specified,">Active Findings</a>
                    <span class="badge rounded-pill bg-primary float-end">{{ metrics.num_active_findings|floatformat:"g" }}</span>
                  </li>
                  <li class="list-group-item">
                    <a href="/findings?q=created:>={{ last_week|date:"Y-m-d" }}">New This Week</a>
                    <span class="badge rounded-pill bg-primary float-end">{{ metrics.num_new_findings|floatformat:"g" }}</span>
                  </li>                  
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div> <!-- /row -->

    </div> <!-- /col-8 -->
    <div class="col-md-2"></div>
</div>

    {% endblock main %}
{% endblock body %}

{% block javascript %}
    /* Handle clicks of the "Code Search" buttons */
    $('.code_search').on('click', (e) => {
      e.preventDefault();
      const query = $('#code_search_query').val();
      if (!query || query.trim() === '') {
        return;
      }

      const target = $(e.target).closest('button,a').data('target');
      switch (target) {
        case 'github':
          window.open('https://cs.github.com/?q=' + encodeURIComponent(query), '_omega_cs', 'noopener,noreferrer');
          break;
        case 'sourcegraph':
          window.open('https://sourcegraph.com/search?patternType=literal&q=context:global+' + encodeURIComponent(query), '_omega_cs', 'noopener,noreferrer');
          break;
        case 'searchcode':
          window.open('https://searchcode.com/codesearch?q=' + encodeURIComponent(query), '_omega_cs', 'noopener,noreferrer');
          break;      
        case 'debian':
        window.open('https://codesearch.debian.net/search?literal=1&q=' + encodeURIComponent(query), '_omega_cs', 'noopener,noreferrer');
          break;
        default:
      }
    });

    /* Handle clicks of the "Vulnerability Search" buttons */
    $('.vulnerability_search').on('click', (e) => {
      e.preventDefault();
      const query = $('#vulnerability_query').val();
      if (!query || query.trim() === '') {
        return;
      }

      const target = $(e.target).closest('button,a').data('target');
      switch (target) {
        case 'nvd.nist.gov':
          window.open('https://nvd.nist.gov/vuln/search/results?form_type=Basic&results_type=overview&search_type=all&isCpeNameSearch=false&query=' + encodeURIComponent(query), '_omega_vs', 'noopener,noreferrer');
          break;
        case 'cve.circl.lu':
          $('<form method="post" action="https://cve.circl.lu/search" target="_omega_vs"><input type="hidden" name="search" value="' + encodeURIComponent(query) + '"></form>').appendTo('body').submit().remove();
          break;
        case 'exploit-db.com':
        window.open('https://www.exploit-db.com/search?q=' + encodeURIComponent(query), '_omega_vs', 'noopener,noreferrer');
          break;      
        default:
      }
    });
{% endblock %}
