{% extends "base.html" %}

{% load translate %}

{% block title %}Home{% endblock %}

{% block body %}

<table class="table">
{% for key, data in result.items %}
    <tr>
        <th>{{ key|short_name }}</th>
        {% for key2, data2 in data.items %}
            <td>
                {% if data2 %}
                    <i class="fas fa-check-circle" style="color:green; opacity: 0.20"></i></td>
                {% else %}
                <i class="fa-solid fa-circle-xmark" style="color: red"></i>
                {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}