{% extends "base.html" %}

{% block body %}

<h3>Search Results</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td><a href="/assertions/show?subject_uuid={{ subject.uuid }}">{{ subject }}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td><i>Sorry, no results were found.</i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}